.data{
    width: 100%;
    height:100vh;
    position: relative;
    background: rgba(0,0,0,.1);
}
.data:before{
    content: "";
    position: absolute;
    background: url('/src//assets/data-bg.png');
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.data .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
}
.data .content{
    margin: 1rem;
}
@media screen and (max-width:940px){
   .data .content{
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255,255,255,.7);
   }
}